<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="業務日付管理"></title>
	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	      th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
	        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
	        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	        
	<style>
	body { font-size:13pt; margin:5px 25px }
	h1 { font-size:18pt; font-weight:bold; color:white; background:black; padding:5px;}
	h2 { font-size:16pt; font-weight:bold; padding:5px; width:300px}
	h3 { font-size:14pt; font-weight:bold; }
	tr { margin:5px }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#f0f0f0 }
	</style>
</head>

<body>
	<h1 th:text="#{content.title}"></h1>

	<h2>業務日付計算式削除</h2>
	<form method="post" action="/delete" th:object="${formModel}">
		<input type="hidden" name="id" th:value="*{id}" />
		<table>
			<tr><th>名前</th><th>計算式</th><th>削除</th></tr>
			<tr>
				<td><p th:text="*{name}"></p></td>
				<td><p th:text="|*{year}/*{month}/*{day	}|"></p></td>
				<td><input type="submit" value="削除" /></td>
			</tr>
		</table>
	</form>
</body>
</html>